In [129]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [156]:
def scrapper():
    date_ = []
    title_ = []
    link_ = []
    body_news_ = []

    for i in range(1,7):
            print(f"{i} Page in progess")
            try:
                response = requests.get(f"https://www.moneycontrol.com/news/tags/survey.html/page-{i}/")
            except:
                print("link not working")
            soup = BeautifulSoup(response.text)
            news = soup.find_all("li", class_ = "clearfix")
            for new in news:
                title = new.find("h2")
                try:
                  link = title.find('a')['href']
                except:
                  pass
                date = new.find("span")
                
                
                ### for title 
                try:             
                    title_text = title.text
                    title_.append(title_text)
                except:
                    title_.append("None")
                    
                    
                    
                ### for links    
                try:             
                    
                    l = link
                    link_.append(l)
                    #print(l)
                    
                    
                except:
                    link_.append("None")
                    
                    
                ### for date
                try:             
                    
                    d = date.text
                    date = d[0:-19]
                    month,day = date.split(' ')
                    date = day+(' ')+month
                    date_.append(date)
                    #print(d)
                    
                except:
                    date_.append("None")
                    
                    
                ### code for the next page deatiled news
                try:    
                    resp = requests.get(l)
                    n_url = resp.text
                except:
                    print("Link not working for next page")
                    
                soup2 = BeautifulSoup(n_url)
                body = soup2.find_all("div", class_ = "content_wrapper arti-flow")

                
                ### for body of the news in next page
                try:
                    para =[]
                    for i in body:
                      text = i.find_all('p')
                      for j in text:
                        para.append(j.text)
                    body = ''.join(para)
                    
                    body_news_.append(body)
                    #print(body.text)
                except:
                    body_news_.append("None")
    return date_, title_, link_, body_news_

In [157]:
date_, title_, link_, body_news_ = scrapper()

1 Page in progess
2 Page in progess
3 Page in progess
4 Page in progess
5 Page in progess
6 Page in progess

In [158]:
print(len(date_))
print(len(title_))
print(len(link_))
print(len(body_news_))

129
129
129
129

In [159]:
# Converting into DataFrame
dict_ = {"Date_Time":date_, "Title":title_, "Full_News":body_news_, "Links": link_, "Category": "Research"}
df = pd.DataFrame(dict_)

In [160]:
df.head()

,Date_Time,Title,Full_News,Links,Category
0,28 March,Almost 80% of early-stage startups plan to hir...,"About 80 percent of early-stage startups, with...",https://www.moneycontrol.com/news/business/sta...,Research
1,11 March,88% Indians would trade high-paying jobs for m...,A majority of Indians would rather take a lowe...,https://www.moneycontrol.com/news/trends/88-in...,Research
2,22 February,Dollar hovers near six-week high as economies ...,"The dollar was little changed on Wednesday, co...",https://www.moneycontrol.com/news/business/eco...,Research
3,16 February,91% Indian students feel professional certific...,Ninety-one per cent Indian students believe th...,https://www.moneycontrol.com/news/business/eco...,Research
4,09 February,58% startups believe fund-raising will get tou...,Venture debt firm InnoVen Capital in the eight...,https://www.moneycontrol.com/news/business/sta...,Research

In [161]:
# replace none in df with nan
df.replace("None", float("NaN"), inplace = True)

In [162]:
df.isna().sum()

Date_Time    0
Title        0
Full_News    0
Links        0
Category     0
dtype: int64

In [163]:
df.dropna(inplace = True)

In [164]:
df.isna().sum()

Date_Time    0
Title        0
Full_News    0
Links        0
Category     0
dtype: int64

In [165]:
# save dataframe
df.to_csv('research_news01.csv', index=False)

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date_Time  129 non-null    object
 1   Title      129 non-null    object
 2   Full_News  129 non-null    object
 3   Links      129 non-null    object
 4   Category   129 non-null    object
dtypes: object(5)
memory usage: 5.2+ KB

In [167]:
df.head()

,Date_Time,Title,Full_News,Links,Category
0,28 March,Almost 80% of early-stage startups plan to hir...,"About 80 percent of early-stage startups, with...",https://www.moneycontrol.com/news/business/sta...,Research
1,11 March,88% Indians would trade high-paying jobs for m...,A majority of Indians would rather take a lowe...,https://www.moneycontrol.com/news/trends/88-in...,Research
2,22 February,Dollar hovers near six-week high as economies ...,"The dollar was little changed on Wednesday, co...",https://www.moneycontrol.com/news/business/eco...,Research
3,16 February,91% Indian students feel professional certific...,Ninety-one per cent Indian students believe th...,https://www.moneycontrol.com/news/business/eco...,Research
4,09 February,58% startups believe fund-raising will get tou...,Venture debt firm InnoVen Capital in the eight...,https://www.moneycontrol.com/news/business/sta...,Research

In [168]:
df1 = pd.read_csv("C:research_news01.csv")
df1.head()

,Date_Time,Title,Full_News,Links,Category
0,28 March,Almost 80% of early-stage startups plan to hir...,"About 80 percent of early-stage startups, with...",https://www.moneycontrol.com/news/business/sta...,Research
1,11 March,88% Indians would trade high-paying jobs for m...,A majority of Indians would rather take a lowe...,https://www.moneycontrol.com/news/trends/88-in...,Research
2,22 February,Dollar hovers near six-week high as economies ...,"The dollar was little changed on Wednesday, co...",https://www.moneycontrol.com/news/business/eco...,Research
3,16 February,91% Indian students feel professional certific...,Ninety-one per cent Indian students believe th...,https://www.moneycontrol.com/news/business/eco...,Research
4,09 February,58% startups believe fund-raising will get tou...,Venture debt firm InnoVen Capital in the eight...,https://www.moneycontrol.com/news/business/sta...,Research